<h1>New Post</h1>

<%= form_with model:@post do |f| %>
<div>
    <%= f.label "Title" %><br><br>
    <%= f.text_field :title, placeholder: "Title"%>
    <% @post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
      <%end %>
</div>
<br><br>
<div>    
    <%= f.label "Body" %><br><br>
    <%= f.text_area :body,size: "70x20", placeholder: "Your post goes here"%>
    <% @post.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
      <%end %>
</div> 
  <%# form.hidden_field :user_id, value: current_user.id %>

<div>
    <%= f.submit "Submit" %>
</div>    


<% end %>